services:
    angular-dev:
        container_name: angular-dev
        image: node:20
        working_dir: /usr/src/app
        volumes:
            - ./:/usr/src/app
            - /usr/src/app/node_modules
        ports:
            - "4202:4200"
        command: sh -c "npm install && npm start"
        environment:
            - CHOKIDAR_USEPOLLING=true
        networks:
            - angular-net

networks:
    angular-net:
        driver: bridge
