FROM node:21

RUN npm install -g @angular/cli

WORKDIR /
RUN mkdir itsec-sample
WORKDIR /itsec-sample

ENV APP_NAME 'itsec-sample'
ENV ROUTING 'true'
ENV STANDALONE 'false'
ENV STRICT 'true'
ENV STYLE 'scss'

CMD ng new $APP_NAME --routing=$ROUTING --standalone=$STANDALONE --strict=$STRICT --style=$STYLE \
&& mv $APP_NAME/* . \
&& rm -rf $APP_NAME \
&& ng serve --host 0.0.0.0 --port 4202

EXPOSE 4202
