services:
    sakai-ng:
        container_name: sakai-ng
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8071:80"
        restart: unless-stopped
        environment:
            - NODE_ENV=production
        networks:
            - sakai-net

networks:
    sakai-net:
        driver: bridge
