version: "3.9"

services:
    angular-app:
        image: nginx:alpine
        container_name: angular-app
        restart: unless-stopped
        ports:
            - "4202:80"
        volumes:
            - ./dist/my-angular-app:/usr/share/nginx/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - angular-net

networks:
    angular-net:
        driver: bridge
