services:
    itsec-sample:
        image: nginx:alpine
        container_name: itsec-sample
        restart: unless-stopped
        ports:
            - "4202:80"
        volumes:
            - ./dist/itsec-sample:/usr/share/nginx/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - itsec-sample-net

networks:
    itsec-sample-net:
        driver: bridge
