services:
    itsec-sample:
        image: nginx:alpine
        container_name: itsec-sample
        restart: unless-stopped
        ports:
            - "4202:80"
        networks:
            - itsec-sample-net

networks:
    itsec-sample-net:
        driver: bridge
